:local(.bookPage) {
    .page__content {
        padding-bottom: 52px;
    }

    .title {
        font-size: 24px;
    }

    .pb {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }

    .read {
        font-size: 12px;
    }

    .primary {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title,
    .read,
    .author {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .button {
        width: 40%;
        text-align: center;
    }
}
