.page__content {
    padding-bottom: 52px;
}

.title {
    font-size: 24px;
}

.primary {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.right {
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
