{
  "presets": ["react"],
  "plugins": ["babel-plugin-transform-function-bind"],
  "env": {
    "production": {
      "minified": true
    },
    "test": {
      "plugins": ["babel-plugin-transform-es2015-modules-commonjs"]
    }
  }
}
