@import "../../theme/variables.css";
@import "../Page/Page.css";

.tab-left,
.tab-right,
.tab-active {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 200ms ease;
    width: 100vw;
}

.pageWithToolbar .tab-left,
.pageWithToolbar .tab-right,
.pageWithToolbar .tab-active {
    top: 44px;
}

.pageWithTabbar .tab-left,
.pageWithTabbar .tab-right,
.pageWithTabbar .tab-active {
    bottom: 51px;
}

.tab-left {
    transform: translateX(-40vw);
}

.tab-right {
    transform: translateX(100vw);
}

.tab-active {
    overflow-y: auto;
}

.button, .button-active {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.button {
    color: #333333;
}

.button-active {
    color: var(--blueColor);
}
