.wrapper {
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    cursor: pointer;
    font-size: var(--fontS);
    height: 29px;
    line-height: 29px;
    min-width: 130px;
    padding: 0 10px;
    text-align: center;
}

.wrapper:active {
    color: white;
    background-color: var(--blue);
}

.dangerous {
    color: var(--red);
    border: 1px solid var(--red);
}

.dangerous:active {
    background-color: var(--red);
}
