.list {
    background: transparent;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 800px) {
    .list:not(.strong) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
