.listItem {
    background-color: white;
    box-sizing: border-box;
    color: var(--black);
    display: flex;
    justify-content: flex-start;
    margin: 1px 0 -1px 0;
    padding: 0 0 0 14px;
    position: relative;
    text-decoration: none;
}

.listItem:first-child {
    border-top: 1px solid #ccc;
    margin-top: 0;
}

.center, .right {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.center {
    flex: 1;
    padding: 12px 6px 12px 0;
}

.right {
    padding: 12px 12px 12px 0;
    text-align: right;
}

.subtitle {
    color: var(--darkGrey);
    font-size: var(--fontS);
}
