.tab-left,
.tab-right,
.tab-active {
  background-color: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 200ms ease;
  width: 100vw;
}

:global(.toolbar) .tab-left,
:global(.toolbar) .tab-right,
:global(.toolbar) .tab-active {
  top: 44px;
}

:global(.tabbar) .tab-left,
:global(.tabbar) .tab-right,
:global(.tabbar) .tab-active {
  bottom: 51px;
}

.tab-left {
  transform: translateX(-40vw);
}

.tab-right {
  transform: translateX(100vw);
}

.tab-active {
  overflow-y: auto;
}

.button,
.button-active {
  align-items: center;
  color: var(--grey);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: var(--fontXS);
  height: 100%;
  width: 100%;
}

.icon > svg {
  height: 32px;
  margin-bottom: -5px;
  fill: var(--grey);
}

.button-active > i > svg {
  fill: var(--blue);
}

.button-active {
  color: var(--blue);
}

.button:not(.button-active) {
  cursor: pointer;
}

@media (min-width: 960px) {
  .tab-left,
  .tab-right,
  .tab-active {
    position: static;
    display: none;
    transition: none;
    width: auto;
  }
  .tab-active {
    display: block;
  }

  .icon {
    display: none;
  }

  .button,
  .button-active {
    font-size: var(--fontM);
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-right: 15px;
    border-bottom: 1px solid white;
    color: black;
  }

  .button-active {
    border-bottom-color: #f9973c;
  }
}
