.wrapper {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title, .back-button {
    height: 44px;
    line-height: 44px;
}

.back-button {
    align-items: center;
    color: var(--blue);
    display: flex;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.back-button:hover {
    opacity: 0.7;
}

.icon {
    display: flex;
    margin-right: -5px;
}
.icon svg {
    height: 32px;
    fill: var(--blue);
}

.close-button {
    display: none;
    position: absolute;
    right: 5px;
    top: -8px;
    cursor: pointer;
}

.close-button :hover {
    opacity: 0.7;
}

.close-button svg {
    height: 10px;
    fill: black;
}

@media (min-width: 800px) {
    .title, .back-button {
        display: none;
    }

    .close-button {
        display: block;
    }
}
