:root {
  --fabLeft: calc(50% - 56px / 2);
  --fabBottom: 28px;
  --fabBackground: linear-gradient(180deg, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0) 100%), #007aff;

  --backgroundColor: #fff;
  --blue: #007aff;
  --lightBlue: #03a9f4;
  --black: #1f1f21;
  --darkGrey: #555;
  --grey: #929292;
  --lightGrey: #eceff1;
  --red: #eb5757;
  --green: #8bc34a;

  --border: 1px solid #ccc;

  --fontXS: 12px;
  --fontS: 14px;
  --fontM: 17px;
  --fontL: 25px;
}

@media (min-width: 960px) {
  :root {
    --fontXS: 10px;
    --fontS: 12px;
    --fontM: 14px;
    --fontL: 17px;
  }
}
