.title {
    font-size: var(--fontM);
}

.author {
    color: #555555;
    font-size: var(--fontS);
}

.primary {
    margin: 15px;
    text-align: center;
}

@media (min-width: 800px) {
    .book-page {
        width: 310px;
        flex: none;
        padding-top: 10px;
        padding-bottom: 40px;
        border-left: 1px solid #E9E9E9;
    }
}
